body {
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 8px;
  background: #222;
  color: #fff;
}

#workspace {
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  background: #111;
}
